<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.springcloud.mapper.DeptMapper">

    <select id="findById" resultType="com.atguigu.cloud.entities.Dept" parameterType="Integer">
        select dept_no deptNo,dept_name deptName,db_source dbSource from dept where dept_no=#{deptNo};
    </select>
    <select id="findAll" resultType="com.atguigu.cloud.entities.Dept">
        select dept_no deptNo,dept_name deptName,db_source dbSource from dept;
    </select>
    <insert id="addDept" parameterType="com.atguigu.cloud.entities.Dept">
        INSERT INTO dept(dept_name,db_source) VALUES(#{deptName},DATABASE());
    </insert>

</mapper>