<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--spring框架 ,IOC玩配置-->
    <bean id="dept" class="com.atguigu.cloud.entities.Dept">
        <property name="deptNo" value="1"/>
        <property name="deptName" value="lisalone"/>
        <property name="dbSource" value="one"/>
    </bean>
</beans>